# Ignore all files and directories
/*
**/Debug
**/language.settings.xml
**/__pycache__
**/.DS_Store
MCU/TouchGFX/build
# But include:
!/.git
!/.gitignore
!/MCU
!/MCU_Mac
!/Backend
!/Dokumentacio
!/Frontend
!/Database