# Ignore all files and directories
/*
**/Debug
**/language.settings.xml
**/__pycache__
**/.DS_Store
**/abrak
**/kepek
**/szakdolgozat.pdf
**/Dokumentacio/szakdolgozat/
MCU/TouchGFX/build
# But include:
!/.git
!/.gitignore
!/MCU
!/Server
!/Dokumentacio
!/Frontend
!/Database